html(lang='ja')
  head
    title BullBones - Images
    include ./include/head.jade
  body
    header.blue-grey.darken-3
      div.logo(style="text-align:center")
        a(href="/")
          img(src="/img/logo.png",style="width:100px;height:auto")
    main
      .container
        .row
          #share-buttons.col-s12(style="height:20px")
            a(href="https://twitter.com/share", class="twitter-share-button",data-text="", data-hashtags="BullBones") Tweet
          .col.s12.image-wrapper
            img(src="http://#{image.host}/#{image.name}")
    include ./include/footer.jade
    if app_env == "development"
      script(src='http://localhost:35729/livereload.js')
    script(src='/js/bower.js')
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');