html(lang='ja')
  head
    meta(charset='utf-8')
    title BullBones - Images
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', type='text/css', href='/css/bower.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='apple-touch-icon.gif')
  body
    header.blue-grey.darken-3
      div.logo(style="text-align:center")
        a(href="/about")
          img(src="/img/logo.png",style="width:100px;height:auto")
    main
      .container
        .row
          .col.s12.image-wrapper
            img(src="http://#{image.host}/#{image.name}")
    footer
      .container
        .row
          .col-s12
          | © 2015 Yusuke Sakurai / Keio University Toshiyuki Masui Labratory All Rights Reserved.
    if app_env == "development"
      script(src='http://localhost:35729/livereload.js')
    script(src='/js/bower.js')