meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
meta(name='apple-mobile-web-app-capable', content='yes')
link(rel='stylesheet', type='text/css', href='/css/bower.css')
link(rel='stylesheet', type='text/css', href='/css/main.css')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(rel='shortcut icon', href='/favicon.ico')
link(rel='apple-touch-icon', href='apple-touch-icon.gif')