html, body
  height 100%
  min-height 100%
body
  margin 0
  padding 0
  background-color #ccc
.clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden
.clearfix
  display: inline-table
.hidden
  display: none!important
#wrapper
  position relative
  overflow visible
  max-width 100%
  max-height 100%
  #searchButton
    position fixed
    right 25px
    top 25px
  .panel
    position fixed
    background-color white
    width 240px
  #brushButton
    position fixed
    right 25px
    top 100px
  #brushWrapper
     right 100px
     top 100px
     #brushView
      padding 10px
  #editButton
    position fixed
    right 25px
    top 175px
  #imageEditorButton
    position fixed
    right 25px
    top 250px
  #imageEditorView
    right 100px
    top 250px
    padding 10px
    #imageEditorPreview
      text-align center
      img
        max-height 100px
    #lineExtractInputWrapper
      padding-left 15px
  #debugButton
    position fixed
    right 25px
    bottom 25px
  #searchView
    width 400px
    position fixed
    top 25px
    left 50%
    margin-left -210px
    padding 5px
    background-color white
    overflow hidden
    #searchResultsWrapper
      max-height 400px
      overflow auto
      #searchingIndicator
        text-align center
        margin 10px auto
      #searchResults
        text-align center
        .searchResultsRow
          width 390px
          margin-bottom 10px
          display table
          .searchResultsCell
            display table-cell
            vertical-align middle
            border 1px solid white
            width 130px
            height 130px
            padding 0 5px
            img
              max-width 100%
              max-height 100%
          .selected
            border 1px solid #ef5350!important
    #imageDetailWrapper
      position absolute
      height 400px
      #imageDetailContent
        padding 10px
        #imageDetailThumbnail
          width 100%
          height 200px
          text-align center
          img
            max-width 100%
            max-height 100%
  #canvasWrapper
    background-color white
    #mainCanvas
      cursor url("data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="), pointer
      &[data-editing="true"]
        cursor pointer
  #actionBar
    padding 15px 0
  .sidebar
    width 240px
    height 100%
    background-color #444
    position absolute
  #leftBar
    top 0
    left -240px
  #rightBar
    top 0
    right -240px
