html, body
  height 100%
  min-height 100%
body
  margin 0
  padding 0
  user-select none
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
[draggable]
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
.clearfix:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden
.clearfix
  display: inline-table
.hidden
  display: none!important
.loadingPanel
  width 100%
  height 100%
  top 0
  left 0
  position absolute
  z-index 100
  text-align center
  .loadingPanelInner
    width 100%
    height 100%
    display table
    div
      display table-cell
      vertical-align middle
#floatingThumbnailView
  position fixed
  top 15px
  left 15px
  .floating-thumb
    cursor pointer
    background-color white
    margin-bottom 15px
    width 55px
    height 55px
#buttonsView
  position fixed
  top 15px
  right 15px
  ul
    margin 0
    padding 0
  li
    margin-bottom 15px
.scrollable
  overflow scroll
  -webkit-overflow-scrolling touch
.arrow_box_wrapper
  position absolute
  .arrow_box
    position relative
    background #4db6ac
    border-radius 6px
    height 44px
    ul
      width 100%
      height 100%
      margin 0
      display table
    li
      cursor pointer
      padding 5px 15px
      min-width 50px
      display table-cell
      border-right 1px solid #fff
      text-align center
      vertical-align middle
      color white
      &:last-child
        border-right none
  .arrow_box:after
    border solid transparent
    content " "
    height 0
    width 0
    position absolute
    pointer-events none
    border-color rgba(0, 0, 0, 0)
    border-width 10px
  .arrow_box_bottom:after
    top 100%
    left 50%
    border-top-color #4db6ac
    margin-left -10px
  .arrow_box_top:after
    bottom 100%
    left 50%
    border-bottom-color #4db6ac
    margin-left -10px
#wrapper
  position relative
  overflow visible
  max-width 100%
  max-height 100%
  #modal
    img
      max-width 100%
  .panel
    position fixed
    background-color white
    width 240px
  #brushWrapper
     right 100px
     top 100px
     #brushView
      padding 10px
  #imageEditorView
    right 100px
    top 250px
    padding 10px
    #lineExtractInputWrapper
      padding-left 15px
  #belowbar
    position fixed
    bottom 15px
    right 15px
    display table
    .inputGroup
      display table-cell
      padding-left 15px
      .inner
        border-radius 5px
        overflow hidden
        background white
        > span,a
          display table-cell
          vertical-align middle
          margin-right 5px
          border-right 1px solid #ccc
          padding 5px 10px
          &:last-child
           border-right none
           margin-right 0px
        a
          width 30px
          color black
        a[data-enabled="true"]
          cursor pointer
          &:active
            background #ccc
            color white
        a[data-enabled="false"]
          color #ccc!important
  #searchView
    width 400px
    position fixed
    top 25px
    left 50%
    margin-left -210px
    padding 5px
    background-color white
    overflow hidden
    #searchResultsWrapper
      max-height 400px
      #searchingIndicator
        text-align center
        margin 10px auto
      #searchResults
        text-align center
        .searchResultsRow
          width 390px
          margin-bottom 10px
          display table
          .searchResultsCell
            display table-cell
            vertical-align middle
            border 1px solid white
            width 130px
            height 130px
            padding 0 5px
            img
              max-width 100%
              max-height 100%
          .selected
            border 1px solid #ef5350!important
    #imageDetailWrapper
      position absolute
      height 400px
      #imageDetailContent
        padding 10px
        #imageDetailThumbnail
          width 100%
          height 200px
          text-align center
          img
            max-width 100%
            max-height 100%
  #canvasWrapper
    background-color white
    #mainCanvas
      cursor url("data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="), pointer
      &[data-editing="true"]
        cursor pointer
  #layerView
    position fixed
    left 0
    top 0
    width 300px
    background-color white
    min-height 100%
    height 100%
    border-right 1px solid #ccc
    ul
      margin 0
      padding 0
    .layerItem
      padding 5px 10px
      display table
      border-bottom 1px solid #ccc
      width 100%
      .inner
      > div
        display table-cell
        vertical-align middle
      .layerItemVisivility
        width 24px
        padding-right 10px
      .layerItemThumbnail
        width 50px
        height 50px
        img
          max-width 100%
          max-height 100%
      .layerItemContent
        padding-left 10px
  #actionBar
    padding 15px 0
  .sidebar
    width 240px
    height 100%
    background-color #444
    position absolute
  #leftBar
    top 0
    left -240px
  #rightBar
    top 0
    right -240px
